@media (prefers-color-scheme: dark) {
    body {
        color: #f8f5dc !important; /* Light text color */
        background-color: #343533 !important; /* Dark background */
    }
    a {
        color: #bbb !important; /* Lighter link color for dark mode */
    }
    a:hover {
        color: #fff !important; /* Even lighter on hover */
    }
}
body {
    color: #343533;
    background-color: #f8f5dc;
    margin: 40px auto;
    max-width: 650px;
    font-size: 18px;
    padding: 1em;
    font-family: 'Merriweather', 'Georgia', 'Times New Roman', Times, serif;
}
* {
    line-height: 1.6em;
}
nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
a {
    color: #555552;
    transition: color 0.5s ease;
}
a:hover {
    color: #000;
}